.idea
.spyproject
*.pyc
/model/
/logs/
/build/
/__pycache__
algorithms/__pycache__/
/darts_logs/
/lightning_logs/
/result/
main.py
#/configs/
/model.zip
*.pklz
*.csv
*.pdf
*.zip
*.png
*.jpg
*.gz
*.pkl
